html{
    font-size: 16px;
}

h2{
    font-family: 'Roboto', sans-serif;
}

p{
    font-family: 'Roboto Slab', serif;
}

h3{
    font-size: 2rem;
    font-family: 'Great Vibes';
}

.logo{
    font-size: 4rem;
    font-family: 'Great Vibes';
    color: white;
    text-shadow: -3px 3px 4px black;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
}

.titulo-topo {
    font-size: 4rem;
    font-family: 'Roboto', sans-serif;
    color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2px;
}

.menu{
    font-family: 'Great Vibes';
    font-size: 4rem;
}

.frame-exemplo{
    border-radius: 20px;
}

.cal-exemplo{
    font-family: 'Roboto Slab', serif;
    font-size: 0.75rem;
}

.bloco {
    width: 90vw;
    border-radius: 60px 0px;
    box-shadow: 0 3px 10px #00A0FB;
    
}

.image-with-text {
    background-image: url("https://res.cloudinary.com/dxcxdt9gh/image/upload/v1698254423/adc-ref_iw6g9v.jpg");
    height: 70vh;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}


@media (min-width: 764px) {
    .bloco {
        width: 70vw;
    }
    
}

@media (min-width: 992px) {
    .bloco {
        width: 40vw;
    }
    
}